# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
*.xcodeproj/xcuserdata/*.xcuserdatad
*.xcodeproj/xcuserdata/*.xcuserstate

# Build products
build/
DerivedData/

# User-specific files
*.swp
*.swo
*.DS_Store
*.user
*.userprefs

# Swift Package Manager
/.build/
/Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Other
*.log
*.lock
*.tmp
